<!-- Navigation -->
<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container">
        <div class="navbar-header page-scroll">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand page-scroll" href="#page-top">{{site.title}}</a>
        </div>

        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav navbar-right">
                <li class="hidden">
                    <a href="#page-top"></a>
                </li>
                <li>
                    <a class="page-scroll" href="#about">{{site.data.en.whatWeDo}}</a>
                </li>
                <li>
                    <a class="page-scroll" href="#get-started">{{site.data.en.getStarted}}</a>
                </li>
                <li>
                    <a class="page-scroll" href="#get-involved">{{site.data.en.getInvolved}}</a>
                </li>
                <li>
                    <a class="page-scroll" href="#for-developers">{{site.data.en.forDevelopers}}</a>
                </li>
                <li>
                    <a class="page-scroll" href="#acknowledgements">{{site.data.en.acknowledgements}}</a>
                </li>
            </ul>
        </div>
    </div>
</nav>

<!-- Header -->
<header>
    <div class="container title" >
        <div class="intro-text">
            <div class="intro-lead-in text-center">{{site.data.en.heroSubtitle}}</div>
            <div class="intro-heading">{{site.data.en.heroTitle}}</div>
        </div>
    </div>
</header>